# RENAME THIS FILE TO .env

# REPLACE THE GOOGLE CLIENT ID AND SECRET WITH YOUR OWN


GOOGLE_CLIENT_ID=blabla-blabla.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=blabla-bla-bla
SECRET_KEY=thisisnotaverysecretkeybutitsisokayfortesting 