.toBeReplaced {
    visibility: hidden;
    position: relative;
    margin-bottom: 10;
}
.toBeReplaced:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Object";
}