.toBeReplaced {
    /* visibility: hidden; */
    color: transparent;
    position: relative;
    pointer-events: none;
}
.toBeReplaced:after {
    color:black;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "{...}";
    margin-left: 16px;
    pointer-events: none;
}