.flip {
  width: 100%;
  height: 200px;
  text-align: center;
  perspective: 600px;
}
.flip-content {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.flip:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}
.flip-front,
.flip-back {
  transform: rotateY(0deg);
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.flip-back {
  transform: rotateY(180deg);
}
